@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html{
    font-size:10px;
    font-family: sans-serif;
}
h1{
    font-family: 'Indie Flower', cursive ;
    text-align: center;
    font-size:4rem;
    margin: 2rem 0;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
.photo-grid{
    display: flex;
    max-width: 1200PX;
    margin: auto;
    flex-wrap: wrap;
}
figure{
    border:1px solid #d3d3d3;
    flex-basis: calc(33.333% - 4rem);
    padding:2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}

figure img {
    width:calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}

figcaption{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

button{
    flex-basis: 48%;
    color:red;
    font-size:15px;
    border: 2px solid #f2f2f2;
    line-height: 2;
    padding:5px;
    width: 50%;
    cursor: pointer;
}

button:hover{
    border-color:#E65A5A;
}
.add-icon{
    margin: 20px auto;
    text-align: center;
    display: flex;
    padding:20px;
    background: url(https://png.icons8.com/ultraviolet/50/000000/plus.png) no-repeat;
    background-size: contain;
    border:none;
    color:transparent;
    cursor: pointer;
    width:0;
}
.form {
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: sans-serif;
    background: #f2f2f2;
    width: 100%;
    border:none;
    padding: 15px;
    box-sizing: border-box;
    margin:0 0 15px;
    font-size: 14px;
}

.form button{
    font-family: sans-serif;
    text-transform: uppercase;
    background: #0093b3;
    color:#fff;
    border: none;
    font-size: 14px;
}

.form button:hover {
    background: #7C8F9E;
}